# Getting some data from `foursquare` (preparation for the second filter) üìå

<img width=300 src=https://static8.depositphotos.com/1394326/908/i/950/depositphotos_9087279-stock-photo-planning-with-pushpins.jpg>

### Importing libraries

In [1]:
import requests
import json
from dotenv import load_dotenv
import os
import pandas as pd
import geopandas
import src.foursquares as fs
load_dotenv()

True

### Getting data from foursquare

**We want to know the locations of certain places in the chosen cities:**

In [2]:
san_francisco = {'type': 'Point', 'coordinates': [37.773972, -122.431297]}
london = {'type': 'Point', 'coordinates': [51.509865, -0.118092]}
new_york = {'type': 'Point', 'coordinates': [40.730610, -73.935242]}

#### 1. The schools üéì

In [3]:
schools_of_london = fs.f_call(london,'school')
schools_of_sf = fs.f_call(san_francisco,'school')
schools_of_ny = fs.f_call(new_york, 'school')

**2. The starbucks üßúüèΩ‚Äç‚ôÄÔ∏è‚òïÔ∏è**

In [4]:
starbucks_of_london = fs.f_call(london, 'starbucks')
starbucks_of_sf = fs.f_call(san_francisco, 'starbucks')
starbucks_of_ny = fs.f_call(new_york, 'starbucks')

**3. The clubs ü•Ç**

In [5]:
party_of_london = fs.f_call(london, 'party')
party_of_sf = fs.f_call(san_francisco, 'party')
party_of_ny = fs.f_call(new_york, 'party')

**4. The vegans ü•ë**

In [6]:
vegan_of_london = fs.f_call(london, 'vegan')
vegan_of_sf = fs.f_call(san_francisco, 'vegan')
vegan_of_ny = fs.f_call(new_york, 'vegan')

**5. The basketball stadium üèÄ**

In [7]:
basket_of_london = fs.f_call(london, 'basketball stadium')
basket_of_sf = fs.f_call(san_francisco, 'basketball stadium')
basket_of_ny = fs.f_call(new_york, 'basketball stadium')

### Creating dataframes with that data

In [8]:
df_schools_london = fs.call_to_df(schools_of_london)
df_schools_sf = fs.call_to_df(schools_of_sf)
df_schools_ny = fs.call_to_df(schools_of_ny)

In [9]:
df_starbucks_london = fs.call_to_df(starbucks_of_london)
df_starbucks_sf = fs.call_to_df(starbucks_of_sf)
df_starbucks_ny = fs.call_to_df(starbucks_of_ny)

In [10]:
df_party_london = fs.call_to_df(party_of_london)
df_party_sf = fs.call_to_df(party_of_sf)
df_party_ny = fs.call_to_df(party_of_ny)

In [11]:
df_vegan_london = fs.call_to_df(vegan_of_london)
df_vegan_sf = fs.call_to_df(vegan_of_sf)
df_vegan_ny = fs.call_to_df(vegan_of_ny)

In [12]:
df_basket_london = fs.call_to_df(basket_of_london)
df_basket_sf = fs.call_to_df(basket_of_sf)
df_basket_ny = fs.call_to_df(basket_of_ny)

In [13]:
df_schools_london['place'] = 'school'
df_schools_sf['place'] = 'school'
df_schools_ny['place'] = 'school'

df_starbucks_london['place'] = 'starbucks'
df_starbucks_sf['place'] = 'starbucks'
df_starbucks_ny['place'] = 'starbucks'

df_party_london['place'] = 'party'
df_party_sf['place'] = 'party'
df_party_ny['place'] = 'party'

df_vegan_london['place'] = 'vegan'
df_vegan_sf['place'] = 'vegan'
df_vegan_ny['place'] = 'vegan'

df_basket_london['place'] = 'basket'
df_basket_sf['place'] = 'basket'
df_basket_ny['place'] = 'basket'

In [14]:
df_schools_london.head(5)

,name,location,place
0,One to One English School,"{'type': 'Point', 'coordinates': [-0.123550510...",school
1,International House London,"{'type': 'Point', 'coordinates': [-0.123061307...",school
2,Avalon School,"{'type': 'Point', 'coordinates': [-0.129540819...",school
3,Royal Ballet School,"{'type': 'Point', 'coordinates': [-0.122196656...",school
4,Mayfair School of English,"{'type': 'Point', 'coordinates': [-0.134547351...",school

### Exporting jsons

In [15]:
df_schools_london.to_json("json/schools_lnd.json", orient="records")
df_schools_ny.to_json("json/schools_ny.json", orient="records")
df_schools_sf.to_json("json/schools_sf.json", orient="records")

df_starbucks_london.to_json("json/starbucks_lnd.json", orient="records")
df_starbucks_ny.to_json("json/starbucks_ny.json", orient="records")
df_starbucks_sf.to_json("json/starbucks_sf.json", orient="records")

df_party_london.to_json("json/party_lnd.json", orient="records")
df_party_ny.to_json("json/party_ny.json", orient="records")
df_party_sf.to_json("json/party_sf.json", orient="records")

df_vegan_london.to_json("json/vegan_lnd.json", orient="records")
df_vegan_ny.to_json("json/vegan_ny.json", orient="records")
df_vegan_sf.to_json("json/vegan_sf.json", orient="records")

df_basket_london.to_json("json/basket_lnd.json", orient="records")
df_basket_ny.to_json("json/basket_ny.json", orient="records")
df_basket_sf.to_json("json/basket_sf.json", orient="records")