In [1]:
import requests
import json
from dotenv import load_dotenv
import os
import pandas as pd
import geopandas
import src.foursquares as fs
load_dotenv()

True

## Getting data from foursquare

In [2]:
san_francisco = {'type': 'Point', 'coordinates': [37.773972, -122.431297]}
london = {'type': 'Point', 'coordinates': [51.509865, -0.118092]}
new_york = {'type': 'Point', 'coordinates': [40.730610, -73.935242]}

In [3]:
schools_of_london = fs.f_call(london,'school')
schools_of_sf = fs.f_call(san_francisco,'school')
schools_of_ny = fs.f_call(new_york, 'school')

In [4]:
starbucks_of_london = fs.f_call(london, 'starbucks')
starbucks_of_sf = fs.f_call(san_francisco, 'starbucks')
starbucks_of_ny = fs.f_call(new_york, 'starbucks')

In [5]:
party_of_london = fs.f_call(london, 'party')
party_of_sf = fs.f_call(san_francisco, 'party')
party_of_ny = fs.f_call(new_york, 'party')

In [6]:
vegan_of_london = fs.f_call(london, 'vegan')
vegan_of_sf = fs.f_call(san_francisco, 'vegan')
vegan_of_ny = fs.f_call(new_york, 'vegan')

In [7]:
basket_of_london = fs.f_call(london, 'basketball stadium')
basket_of_sf = fs.f_call(san_francisco, 'basketball stadium')
basket_of_ny = fs.f_call(new_york, 'basketball stadium')

## DF

In [4]:
df_schools_london = fs.call_to_df(schools_of_london)
df_schools_sf = fs.call_to_df(schools_of_sf)
df_schools_ny = fs.call_to_df(schools_of_ny)

In [9]:
df_starbucks_london = fs.call_to_df(starbucks_of_london)
df_starbucks_sf = fs.call_to_df(starbucks_of_sf)
df_starbucks_ny = fs.call_to_df(starbucks_of_ny)

In [10]:
df_party_london = fs.call_to_df(party_of_london)
df_party_sf = fs.call_to_df(party_of_sf)
df_party_ny = fs.call_to_df(party_of_ny)

In [11]:
df_vegan_london = fs.call_to_df(vegan_of_london)
df_vegan_sf = fs.call_to_df(vegan_of_sf)
df_vegan_ny = fs.call_to_df(vegan_of_ny)

In [12]:
df_basket_london = fs.call_to_df(basket_of_london)
df_basket_sf = fs.call_to_df(basket_of_sf)
df_basket_ny = fs.call_to_df(basket_of_ny)

In [13]:
df_schools_london.head(5)

,name,location
0,One to One English School,"{'type': 'Point', 'coordinates': [51.513728983..."
1,International House London,"{'type': 'Point', 'coordinates': [51.516051852..."
2,Avalon School,"{'type': 'Point', 'coordinates': [51.515208415..."
3,Royal Ballet School,"{'type': 'Point', 'coordinates': [51.512919050..."
4,Mayfair School of English,"{'type': 'Point', 'coordinates': [51.516081642..."

### Exporting jsons

In [14]:
df_schools_london.to_json("json/schools_lnd.json", orient="records")
df_schools_ny.to_json("json/schools_ny.json", orient="records")
df_schools_sf.to_json("json/schools_sf.json", orient="records")

df_starbucks_london.to_json("json/starbucks_lnd.json", orient="records")
df_starbucks_ny.to_json("json/starbucks_ny.json", orient="records")
df_starbucks_sf.to_json("json/starbucks_sf.json", orient="records")

df_party_london.to_json("json/party_lnd.json", orient="records")
df_party_ny.to_json("json/party_ny.json", orient="records")
df_party_sf.to_json("json/party_sf.json", orient="records")

df_vegan_london.to_json("json/vegan_lnd.json", orient="records")
df_vegan_ny.to_json("json/vegan_ny.json", orient="records")
df_vegan_sf.to_json("json/vegan_sf.json", orient="records")

df_basket_london.to_json("json/basket_lnd.json", orient="records")
df_basket_ny.to_json("json/basket_ny.json", orient="records")
df_basket_sf.to_json("json/basket_sf.json", orient="records")