In [1]:
import pandas as pd
import geopandas as gpd
from keplergl import KeplerGl

In [2]:
df = pd.read_csv('data/places.csv')

In [3]:
df.head()

,Unnamed: 0,name,location,place,coordinates,latitude,longitude
0,0,Starbucks,"{'type': 'Point', 'coordinates': [-0.139154, 5...",starbucks,"[51.510288, -0.139154]",51.510288,-0.139154
1,1,The Cuckoo Club,"{'type': 'Point', 'coordinates': [-0.137770716...",party,"[51.5099619985, -0.1377707164]",51.509962,-0.137771
2,2,Tramp,"{'type': 'Point', 'coordinates': [-0.137835548...",party,"[51.5083318933, -0.1378355488]",51.508332,-0.137836
3,3,Malvern House Picadilly Centre,"{'type': 'Point', 'coordinates': [-0.134370783...",school,"[51.5101933333, -0.1343707833]",51.510193,-0.134371
4,4,Starbucks,"{'type': 'Point', 'coordinates': [-0.139378, 5...",starbucks,"[51.513952, -0.139378]",51.513952,-0.139378

In [4]:
df.dtypes

Unnamed: 0       int64
name            object
location        object
place           object
coordinates     object
latitude       float64
longitude      float64
dtype: object

In [5]:
map_1= KeplerGl(height=700, weight = 500)
map_1.add_data(data=df, name='companies')
map_1

User Guide: https://docs.kepler.gl/docs/keplergl-jupyter

KeplerGl(data={'companies': {'index': [0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 2â€¦